NODE_ENV=production
DATABASE_URL=postgresql://postgres:GYlPYIotDgeBhYRpCFqNhHcVUBpcLcDF@tokaido.proxy.rlwy.net:19377/railway
PAYLOAD_SECRET=388aba73e7af054d74d7cfdd5ec16dea1eac86c0abe068d64fd03b3fb3ce8b83
NEXT_PUBLIC_SITE_URL=arteffect-production.up.railway.app
RATE_LIMIT_TRUSTED_PROXY_HOPS=0
